@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-01-01 17:18:52
 * @version $Id$
 */
*{
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}
body{
	font-family: "PingHei","Helvetica","Arial","Verdana","Microsoft YaHei","微软雅黑","sans-serif";
	font-size: 14px;
	width: 100%;
}
#b{
	text-align: center;
}
#t{
	height: 46px;
	background-color: #444;
	background-color:rgba(0,0,0,0.6);
	margin-bottom: 30px;
}
#t-bars{
	width: 980px;
	margin: 0px auto 0px auto;
	text-align: left;
}
.t-bars-li{
	list-style: none;
	display: inline-block;
	padding: 0px 20px 0px 20px;
	text-align: center;
}
.tlogo{
	text-align: left;
	font-size: 18px;
	padding-left: 0px;
}
.t-bars-a{
	text-decoration: none;
	color: #fff;
	line-height: 46px;
	padding: 0px 10px;
}
.t-bars-a:hover{
	color: #DBDCD6;
}
.tsou{
	display: inline-block;
	float: right;
	line-height: 46px;
	position: relative;
}
.tsou input{
	padding: 6px 30px 6px 10px;
	border-radius: 5px;
	width: 200px;
	font-size: 16px;
	box-shadow: none;
	outline: none;
	vertical-align: middle;
	font-family: "Microsoft YaHei";
}
#t-submit{
	margin-left: -28px;
	background-color: transparent;
	line-height: 31px;
	/*padding: 0px 8px;*/
	width: 28px;
	color: #ccc;
	box-shadow:none;
	outline: none;
	z-index: 1000;
	cursor: pointer;
	vertical-align: middle;
	/*position: absolute;*/
}
#t-submit:hover{
	color: #666;
}
#c{
	width: 980px;
	margin: 30px auto 30px auto;
	position: relative;
}
#c ul li{
	list-style: none;
	text-align: left;
}
.c-li{
	border: solid 1px #ccc;
	width: 980px;
	height: 255px;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 3px;
}
.c-li img{
	max-width: 420px;
	max-height: 255px;
	vertical-align: middle;
}
.c-li-img{
	width: 420px;
	height: 255px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	line-height: 255px;
}
.c-li-info{
	width: 560px;
	height: 255px;
	overflow: hidden;
	display: inline-block;
}
#top{
	padding: 10px;
	position: fixed;
	z-index: 1000px;
	bottom: 100px;
	right: 50px;
	border: solid 1px #666;
	cursor: pointer;
	display: none;
}
#d{
	margin-bottom: 30px;
	font-size: 12px;
}